.container {
    background-color: #c00025;
    width: 100%;
    max-width: 550px;
    border-radius: 15px;
    border: 2px solid grey;
    padding-bottom: 25px;
}
.display {
    margin-top: 25px;
    height: 100px;
    width: 450px;
    border-radius: 50px;
    color: white;
    background-color: #322c2d;
    box-shadow: 1px 1px #322c2d;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-left: 8%;
    font-size: 5.0rem;
    margin-bottom:5%;
  }

  .special_container {
      width:85%;
      margin-left:7%;
      
  }
  
  .num_container {
      width:65%;
      margin-left:7%;
      size:120px;      
      justify-content:space-evenly;

  }
  .number_button:nth-child(10) {
      width:185px;
      border-radius:40%;

  }
  
  .operator_container {
      width: 10%;
      margin-left: 22%;
      margin-top:-27%;
      position:absolute;

  }

  .number_button, .operator_button, .special_button {
      border: 1px solid black;
      border-radius:50%;
      width:80px;
      height: 80px;
      margin: 5px 10px;
      font-size: 30px;
      color:white;
      
  }

  .number_button {
      background-color:blue;
      margin-left:4.5%;
  }

  .operator_button {
      background-color: dodgerblue;
  }
  
  .special_button {
      background-color:royalblue;
      margin-left:3.5%;

  }
.logo-container {
    margin-top:8%;
    margin-left:8%;
}